﻿@model Giftor.WebUI.Controllers.Models.SpinningWheelViewModel
@{
    ViewData["Title"] = "Spinn och Vinn";
}

<img src="~/images/spinn_och _vinn.gif"/>
<h2><span class="glyphicon glyphicon-hand-down" aria-hidden="true"></span></h2>

<canvas id='canvas' width='800' height='800' onclick="startSpin();">
    Canvas not supported, use another browser.
</canvas>

<div>
    <ul class="list-group" id="prize-history">
        @foreach (var prize in Model.Prizes)
        {
            <li class="list-group-item">@prize.WinDate.ToShortDateString() - @prize.Sum kr</li>    
        }
    </ul>
</div>


@section Scripts
    {

    <script src="~/lib/winwheel/Winwheel.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
        
    <script>
        var wheelSpinning = false;
        var theWheel = new Winwheel({
            'numSegments': 3,            // Specify number of segments.
            'outerRadius': 380,          // Set outer radius so wheel fits inside the background.
            'drawMode': 'image',      // drawMode must be set to image.
            'drawText': true,         // Need to set this true if want code-drawn text on image wheels.
            'textFontSize': 60,
            'textOrientation': 'curved',     // Note use of curved text.
            'textDirection': 'reversed',   // Set other text options as desired.
            'textAlignment': 'outer',
            'textMargin': 5,
            'textFontFamily': 'monospace',
            'textStrokeStyle': 'black',
            'textLineWidth': 2,
            'textFillStyle': 'white',
            'segments':                // Define segments.
            [
                { 'text': '750:-' },
                { 'text': '1000:-' },
                { 'text': '1250:-' }
            ],
            pins : true,
            'animation':                   // Specify the animation to use.
            {
                'type': 'spinToStop',
                'duration': 5,             // Duration in seconds.
                'spins': 8,             // Number of complete spins.
                'callbackFinished': alertPrize
            }
        });

        // Create new image object in memory.
        var loadedImg = new Image();

        // Create callback to execute once the image has finished loading.
        loadedImg.onload = function () {
            theWheel.wheelImage = loadedImg;    // Make wheelImage equal the loaded image object.
            theWheel.draw();                    // Also call draw function to render the wheel.
        }

        // Set the image source, once complete this will trigger the onLoad callback (above).
        loadedImg.src = "images/johanna_1.png";

        // Called when the animation has finished.
        function alertPrize(indicatedSegment) {
            $('#prize-history').prepend('<li class="list-group-item active">' + indicatedSegment.text + '</li>');
            $.ajax({
                type: "POST",
                url: "Johanna/RegisterWinning?prize="+indicatedSegment.text,
                data: indicatedSegment
            });
            alert("YAAAAAAAAAAAAAAAAAY! Du vann " + indicatedSegment.text + ". Ett mail har gått iväg och pengar swishas strax.");
        }

    </script>
        
    <script>
        function startSpin() {
            // Ensure that spinning can't be clicked again while already running.
            
            if (wheelSpinning == false) {
                theWheel.animation.spins = 20;

                
                // Begin the spin animation by calling startAnimation on the wheel object.
                theWheel.startAnimation();
                // Set to true so that power can't be changed and spin button re-enabled during
                // the current animation. The user will have to reset before spinning again.
                wheelSpinning = true;
            }
        }

    </script>

}
